# temp files from editors
*~
*.bak
.DS_Store
.buildpath
.project
.settings
*.odt#
*.tmproj
build
.idea
#nbproject/

# hidden files created by Windows
Thumbs.db
desktop.ini

#programme folder/zip
arduino-1.6.4-windows/
#arduino-1.6.4-windows.zip
#splashelec-ressource/